.home-title {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    color: skyblue;
    font-weight: bold;
}

.home-message {
  color: gold;
}

.top-bar {
  background-image: url('https://im-media.voltron.voanews.com/Drupal/01live-166/styles/sourced/s3/2019-07/RTS1ZZL2.jpg?itok=2myFX4ui');
}

.menu {
  background-color: #470059;
}

.menu-title {
  color: gold;
  font-weight: bold;
  font-family: 'brush script mt';
  font-size: 75px;
}

.menu-paragraph {
  color: skyblue;
  font-family: 'marker felt', 'fantasy';
  font-size: 30px;
}

body {
  background-image: url('https://i.pinimg.com/originals/26/92/d7/2692d7509999ec87416f25bebea3d26e.jpg');
}

.menu-text {
  background-color: skyblue;
  margin-right: 3rem;
}

.top-link {
  background-color: #470059;
  border-style: solid;
}

.active {
  background-color: #a200ca;
}